<% Category.all.each do |cat| %>
  <h3><%= cat.name %></h3>
  <% @daily_menu.dishes.each do |dish| %>
    <% if cat.name === dish.category.name %>
      <ul class="category-list">
        <li>
          <%= dish.name %> - <%= dish.weight %>
          <% if dish.units == true %>
            (порция)
          <% end %>
          <%= dish.measure %>/<%= dish.last_price(dish , @daily_menu ) %>грн
        </li>
      </ul>
    <% end %>
  <% end %>
<% end %>
<%= link_to 'Назад' , daily_menus_path %>
