<%= form_for @dish , url: dishes_path do |f|%>
  <% if @dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dish.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
        <% @dish.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name , class:"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :weight %>
    <%= f.text_field :weight, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :measure %>
    <%= f.text_field :measure, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price, class:"form-control" %>
  </div>
  <div class="h5">Категория:</div>
  <%= collection_radio_buttons(:dish , :category_id , Category.all ,:id, :name) do |cat|%>
    <div><%= cat.label {cat.radio_button + cat.text} %></div>
  <% end %>
  <div class="form-group">
    <div>Порция</div>
    <input type="radio" name="dish[units]"value="1">Да
    <input type="radio" name="dish[units]" value="0">Нет
  </div>
  <%= f.submit %>
<% end %>
