<h3><%=@category.title %></h3>
<% @category.dish.each do |dish| %>
  <ul class="category-list">
    <li><%= dish.title %>
    	<% if dish.units == true %>
            (порция)
        <% end %> 
        - <%= dish.weight %>
        <%= dish.measure %>/<%= dish.price %>грн
    </li>
  </ul>
<% end %>
<%= link_to 'назад' , categories_path%>
